{% extends "layout.html" %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form action="/compare" enctype="multipart/form-data" method="post">

                    <div class="form-group">
                        <input name="file1" type="file"></input>
                    </div>
                    <div class="form-group">
                        <input name="file2" type="file"></input>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input name="algorithm" type="radio" value="lines">  Compare lines</input>
                        </div>
                        <div class="form-check">
                            <input name="algorithm" type="radio" value="sentences">  Compare sentences</input>
                        </div>
                        <div class="form-check">
                            <input name="algorithm" type="radio" value="substrings">  Compare substrings</input>
                        </div>
                        <input autocomplete="off" autofocus name="name" placeholder="of length n" name="length" type="number"></input>
                    </div>
                    <button class="btn btn-primary" type="submit">Compare</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
